.root {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.7rem;
}
.formCar {
  margin-top: 5%;
font-size: 1.5rem;;
}
#car {
display:grid;
gap: 0.5vw;
}
.—Åar-price {
  margin-top: 5%;
}
.img-avto{
  width: 15vw;
}
.carList {
  display: none;
}
